.fade-in-image {
    animation: fadeIn 7s;
}

@keyframes fadeIn {
    0% {
        opacity: 0.15;
    }
    25% {
        opacity: 0.35;
    }
    50% {
        opacity: 0.5;
    }
    765% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}